{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClimateCode</title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
</head>
<body class="relative h-screen w-full bg-black">
    <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
    <div class="absolute left-0 right-0 top-[-10%] h-[1000px] w-[1000px] rounded-full bg-[radial-gradient(circle_400px_at_50%_300px,#0d9488cc,#000)]"></div>

    <header class="py-6 bg-teal-900/70 text-white shadow-md backdrop-blur-md">
        <div class="container mx-auto px-4">
            <h1 class="text-3xl font-bold">Climate<span class="text-teal-400">Code</span></h1>
            <nav>
                <ul class="flex space-x-6 mt-4">
                    <li><a href="{% url 'Cargar_Datos' %}" class="text-white hover:text-teal-300 transition">Cargar Datos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="py-12">
        <section class="text-center py-16 bg-teal-50/70 rounded-md shadow-lg mx-4 lg:mx-auto lg:w-3/4 backdrop-blur-md">
            <div class="container mx-auto px-4">
                <h2 class="text-4xl font-extrabold text-teal-900">Analyze CO2 Data</h2>
                <p class="text-lg text-teal-700 mt-4">Use this platform to upload and analyze CO2 data with ease.</p>
                <a href="{% url 'Cargar_Datos' %}" class="mt-6 inline-block bg-teal-700 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:bg-teal-800 transition">Get Started</a>
            </div>
        </section>
    </main>

</body>
</html>
